.visit-us {
  height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../images/coworking.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(0.65);
  }

  .visit-us-wrapper {
    height: fit-content;
    h3 {
      font-size: 3rem;
      text-align: center;
      width: 35rem;
      letter-spacing: -1.2px;
    }

    .browse-all-btn {
      @include button-style(#000, #fff);
      margin-top: 4rem;
      font-weight: 600;
    }
  }
}
